MYSQL_PORT=3307
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=noteweave
MYSQL_USER=noteweave
MYSQL_PASSWORD=noteweave

REDIS_PORT=6380

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=noteweave
MINIO_ROOT_PASSWORD=noteweave-minio-secret
MINIO_BUCKET=noteweave-dev
MINIO_TEST_BUCKET=noteweave-test

ES_PORT=9200
ES_JAVA_OPTS=-Xms512m -Xmx512m

KAFKA_PORT=9092
NOTEWEAVE_KAFKA_TOPIC_TASK=noteweave.task
NOTEWEAVE_KAFKA_TOPIC_DOCUMENT=noteweave.document
NOTEWEAVE_KAFKA_GROUP_TASK=noteweave-task-worker

NOTEWEAVE_TASK_DISPATCHER_ENABLED=true
NOTEWEAVE_TASK_DISPATCHER_FIXED_DELAY_MS=5000

NOTEWEAVE_UPLOAD_CLEANUP_ENABLED=true
NOTEWEAVE_UPLOAD_CLEANUP_FIXED_DELAY_MS=600000
